/*
Design guidelines:

• The first column should be 200px wide,
  the second column should be flexible.
• Similarly, The first row should be
  200px tall, the second flexible.
• The gap between columns should be 16px.
• The gap between rows should be 32px.
• You can use the blue/yellow/red/white
  design tokens, defined on the “.wrapper”
  element.
*/

html,
body {
  height: 100%;
}
body {
  background: hsl(0deg 0% 2%);
  padding: 0;
  margin: 0;
}

.wrapper {
  --blue: hsl(250deg 100% 55%);
  --yellow: hsl(50deg 100% 50%);
  --red: hsl(350deg 100% 45%);
  --white: hsl(0deg 0% 100%);

  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 200px 1fr;
  gap: 32px 16px;
  min-height: 100%;
}

.blue-box {
  background-color: var(--blue);
}

header {
  background-color: var(--yellow);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-block-end: 8px;
  padding-inline-end: 16px;
}

/* if we didn't want to use justify-content and align-items. we can use declarations below */

h1 {
  margin-inline-start: auto;
  margin-block-start: auto;
}

.red-box {
  background-color: var(--red);
}

main {
  background-color: var(--white);
}
